@import "@fontsource/vt323";

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
input[type="text"] {
  font-family  : "VT323", monospace;
  font-weight  : 400;
  text-shadow  : rgb(173, 216, 230, 0.9) 1px 0 10px;
  animation    : textShadow 0.3s infinite;
  outline-color: rgba(74, 246, 38, 1);
}

.crt-frame {
  pointer-events: none;
  overflow      : hidden;
  z-index       : 9000;
  position      : fixed;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
  width         : 100%;
  height        : 100%;
}